# EDA of the dataset at word level

## imports

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## load the dataset

In [35]:
df_fake = pd.read_csv('data/Fake.csv')
df_real = pd.read_csv('data/True.csv')

## word frequency

### remove punct

In [36]:
import string

def remove_punctuation(input_string):
  """
  Removes all punctuation characters from a string.

  Args:
    input_string: The string from which to remove punctuation.

  Returns:
    A new string with all punctuation removed.
  """
  # Create a string containing all standard punctuation marks
  punctuations = string.punctuation

  # Use a list comprehension to build a new string excluding punctuation
  no_punct_string = ''.join([char for char in input_string if char not in punctuations])

  return no_punct_string

### find the frequencies of the words

In [52]:
def build_frequency(corpus: list[str]) -> pd.DataFrame:
    word_dict = {}
    for text in corpus:
        text = remove_punctuation(text)
        text = text.lower()
        text = text.split()
        for word in text:
            if word not in word_dict.keys():
                word_dict[word] = 1
            else:
                word_dict[word] += 1
    word_dict = pd.DataFrame.from_dict(word_dict,orient='index')
    return word_dict

In [53]:
fake_dict = build_frequency(df_fake['text'])
real_dict = build_frequency(df_real['text'])

In [54]:
fake_dict

                      0
donald            17101
trump             73422
just              20111
couldn             1514
t                 40602
...                 ...
betti                 1
grandmotherlast       1
emanuelcurrently      1
mondoweiss            1
overdriveread         1

[186879 rows x 1 columns]

In [58]:
real_dict

                   0
washington     12088
reuters        28306
the           478239
head            2777
of            204852
...              ...
enggartiasto       1
lukita             1
perusahaan         1
perdangangan       1
usimposed          1

[101170 rows x 1 columns]

In [62]:
fake_dict.sort_values(0,ascending=False)

                              0
the                      526628
to                       289551
of                       235728
and                      224311
a                        210277
...                         ...
shivaroor                     1
aroor                         1
pictwittercombwhct6bvju       1
httpstcoassqbjdxpn            1
overdriveread                 1

[186879 rows x 1 columns]